.content {
  position: relative;
  overflow: hidden;
  background-color: lightgrey;
  /* margin-bottom: 20px; */
}

.line {
  position: absolute;
  top: 0;
  left: 40px;
  bottom: 0;
  width: 3px;
  background: #ebebeb;
}
