body {
  /* margin: 0; */
  /* background-color: lightgray; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */

  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.demo {
  position: relative;
}

.notificationsFrame {
  z-index: 2;
  width: 100%;
  top: 20px;
  background-color: rgb(223, 125, 125);
  border-radius: 3px;
  overflow: hidden;
  /* font-family: "Open Sans", Helvetica, sans-serif; */
  /* margin-bottom: 40px; */
}
.notificationsFrame.show-menu {
  transform: translate3d(150px, 0, 0);
}
