.item {
  position: relative;
  z-index: 2;
  margin: 20px 30px 30px 70px;
  display: block;
  /* margin-bottom: 20px; */
}

.item:hover {
  color: #5f98cd;
  cursor: pointer;
}

/* .item .circle {
  box-sizing: border-box;
  position: absolute;
  height: 11px;
  width: 11px;
  background: #fff;
  border: 2px solid #5f98cd;
  box-shadow: 0 0 0 3px #fff;
  border-radius: 6px;
  top: 0;
  left: -20px;
} */

.avatar {
  position: absolute;
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  left: -49px;
}

.avatar img {
  width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.time {
  display: block;
  font-size: 11px;
  line-height: 11px;
  margin-bottom: 2px;
}

p {
  font-size: 15px;
  line-height: 20px;
  margin: 0px 40px 0px 0px;
  font-family: "Open Sans", Lora, Times, no-serif;
}

.item p b {
  font-weight: 600;
}

.commentCount {
  position: absolute;
  right: 15px;
  font-size: 12px;
  top: 11px;
}

.commentCount:after {
  content: "\f075";
  font-family: FontAwesome;
  position: absolute;
  font-size: 20px;
  color: #ebebeb;
  top: -50%;
  left: 100%;
  margin-left: 10px;
  z-index: 3;
}

.commentCount:hover:after {
  color: lightblue;
}

/* .demo .notificationsFrame .content .item .right {
  position: absolute;
  right: 5px;
  font-size: 11px;
  top: 11px;
}
 */
